################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImmersionDay/putty-0.72/putty-0.72
